*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.all-content{
    background: #f7f5f2;
}

html ::-webkit-scrollbar-track{
    background: transparent;
}
html ::-webkit-scrollbar-thumb{
    background: #79b6da;
    border-radius: 10px;
}
html ::-webkit-scrollbar{
     width: 10px;
}

/* nvabar start  */
#navbar{
    background-color: #79b6da;
}
#logo img{
    border-radius: 10px;
    width: 160px;
    margin-left: 40px ;
}
.navbar-nav{
    margin-left: 50px;
}
.nav-item .nav-link{
    color: black;
    margin-left: 10px;
    font-weight: bold;
    transition: 0,5s;
}
.nav-item .nav-link:hover{
    background: #f7f5f2;
    border-radius: 5px;
    color:black
}
#navbar form button{
    background: white;
    color: black;
    border: 1px solid black;
}
/* navbar end  */

/* home section start  */
#home{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(./images/bc3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 88%;
}
#home .content{
    padding: 210px;
    margin-left: 56px;
}
#home .content h3{
    font-size: 50px;
    color: white;
}
#home .content p{
    margin-top: 10px;
    color: white;
}
#btn{
    width: 150px;
    height: 36px;
    margin-top: 20px;
    background: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: 0,5s ease;
    cursor: pointer;
}
#btn:hover{
    background: #79b6da;
    color: white;
}
/* home section end  */

/* about section start  */
#about{
    width: 100%;
    height: 60vh;
}
#about .container{
    padding-top: 70px;
}
.heading{
    text-align: center;
    margin-bottom: 50px;
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.heading span{
    color: #79b6da;
}
#about .card{
    border-radius: 10px;
}
#about .card img{
    border-radius: 10px;
}
#about-btn{
    width: 200px;
    height: 36px;
    background: transparent;
    border: 2px solid #79b6da;
    color: #79b6da;
    border-radius: 5px;
    font-weight: bold;
    transition: 0,5s;
    cursor: pointer;
}
#about-btn:hover{
    background-color: #79b6da;
    color: white;
}
@media  screen and (max-width:982px) {
    #about p{
        font-size: 12px;
    }
}
@media  screen and (max-width:766px) {
    #about p{
        font-size: 18px;
    }
    #about{
        height: 120vh;
    }
}
/* about section end  */

/* top cards start */
#top-cards{
    width: 100%;
    background: white;
}
.heading2{
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.heading2 span{
    color: #79b6da;
}
#top-cards.container{
    margin-top: 30px;
}
#top-cards .card{
    border-radius: 10px;
    transition: 0,5s;
    cursor: pointer;
}
#top-cards .card img{
    border-radius: 10px;
}
#top-cards .card:hover{
    transform: translateY(-10px);
}
/* top cards end */

/* menu start  */
#menu{
    width: 100%;
    margin-top: 60px;
}
.heading3{
    text-align: center;
    font-size: 30px;
    color:#79b6da;
    font-weight: bold;
    border-bottom: 2px solid #79b6da;
}
#container2{
    margin-top: 50px;
}
#menu .card{
    box-shadow: rgba(149,157,165,0,2) 0px 8px 24px;
}
.star i{
    color:#79b6da;
}
#menu h3{
    text-align: center;
    color: #79b6da;
    margin-top: 10px;
    font-size: 26px;
}
#menu p{
    font-size: 16px;
    color: #79b6da;
    padding-top:10px ;
}
#menu p span{
    float: right;
    cursor: pointer;
}
/* menu end  */


/* Other product start  */
#otherproducts{
    width: 100%;
}
.heading4{
    text-align: center;
    color: black;
    font-size: 30px;
    padding-top: 100px;
    font-weight: bold;
    border-bottom: 2px solid #79b6da;
}
#otherproducts .heading4 span{
    color: #79b6da;
}
#container3{
    margin-top: 30px;
}
#otherproducts h3{
    text-align: center;
    color: #79b6da;
    font-size: 23px;
}
#otherproducts p{
    color: #79b6da;
    padding-top: 10px;
}
#otherproducts p span{
    float: right;
    cursor: pointer;
}
/* Other product end  */



/* Our Store start */
#ourstore{
    width: 100%;
}
.heading5{
    text-align: center;
    color: black;
    margin-top: 60px;
    font-size: 30px;
    font-weight: bold;
}
#ourstore .heading5 span{
    color: #79b6da;
}
#ourstore .card{
    border-radius: 10px;
    cursor: pointer;
}
/* Our Store end */


/* Contact start */
#contact{
    width: 100%;
    height: 80vh;
    padding-top: 70px;
}
#contact .container{
    width: 100%;
    height: 60vh;
    background: linear-gradient(90deg, white 80%,#79b6da 20%);
    border-radius: 10px;
}
.heading6{
    font-size: 40px;
    font-weight: bold;
    margin-top: 70px;
    
}
.heading6 span{
    color: #79b6da;
}
#contact p{
    font-size: 15px;
    color: black;
}
#contact input{
    width: 360px;
    border: none;
    border-bottom: 1px solid #79b6da;
}
#contact-btn{
    width: 200px;
    height: 36px;
    border: none;
    background: #79b6da;
}
#col{
    width: 40%;
    height: 40vh;
    background: rgb(6, 106, 163);
    margin-top: 78px;
}
#contact h1{
    color: #f7f5f2;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
}
#contact #col p{
    font-size: 15px;
    color: #f7f5f2;
    margin-left: 13px;
    margin-top: 30px;
}

@media  screen and (max-width:766px) {
    #contact .container{
        background: white;
    }
    #col{
        width: 100%;
        background: #79b6da;
    }
    #contact{
        height: 150vh;
    }
}
@media  screen and (max-width:400px) {
    #contact input{
        width:250px ;
    }
}
/* contact end */

/* blog start */
#blogs{
    width: 100%;
}
#blogs .heading7{
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bold;
}
#blogs .heading7 span{
    color: #79b6da;
}
#blogs .container{
    margin-top: 40px;
}
#blogs h5{
    color: #79b6da;
}
#blogbtn{
    width: 180px;
    height: 30px;
    background: transparent;
    border: 2px solid #79b6da;
    color: #79b6da;
    border-radius: 5px;
    font-weight: bold;
    transition: 0,5s;
    cursor: pointer;   
}
#blogbtn:hover{
    background-color: #79b6da;
    color: white;
}
/* blog end  */


/* footer start */
#footer{
    width: 100%;
    background: #79b6da;
    margin-top: 50px;
}
.footer-logo img{
    width: 180px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
#footer .socail-links i{
    font-size: 17px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.credits{
    color: #f7f5f2;
    margin-top: 20px;
    text-shadow: 0px 0px 1px black;
}
.credits span{
    color: black;
}
.copyright span{
    color: black;
}
/* footer end */

html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-align: center;
    line-height: 50px;
}